@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
  font-family: Quicksand, Sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
}

.logo {
  width: 45px;
}

.textlogo {
  width: 90px;
  padding-bottom: -20px ;
}

/* .container-fluid {
  padding: 0 15px;
  margin: 0 auto;
} */

.navbar {
  background-color: rgba(34, 49, 52, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px 16px;
	width: 100%;
	z-index: 999;
}

.navbar-nav li > a:hover{
  color: white;
}

.navbar-nav li > a:hover::after {
  display: block;
  content: "";
  width: 100%;
  margin-bottom: -5px;
  border-bottom: 2.5px solid rgb(223, 162, 20);
  width: 100%;
  transition: width .3s;
}

.navbar .navbar-brand {
	font-size: 1.5em;
}
.navbar .nav-item {
	font-size: 1.1em;
	padding: 0 5px;
}

.navbar .collapse.navbar-collapse {
  justify-content: flex-end;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://img.freepik.com/free-vector/money-pattern-background-wallpaper-vector-finance-illustration_53876-140179.jpg);
  background-size: cover;
  background-color: rgba(236, 236, 185, 0.178);
  background-blend-mode: soft-light;
  color: black;
  text-align: center;
}

.top-wrapper p{
  font-weight: bold;
}

label{
  font-weight: bold;
}

input, select{
  padding: 5px;
  border: 2px solid rgba(34, 49, 52);
  border-radius: 4px;
}

input[type=button]{
  font-weight: bold;
  color: white;
  background-color: rgb(34, 49, 52);
}

input[type=button]:hover{
  transition: all 0.5s;
  background-color: rgb(75, 86, 102);
}

h2{
  margin-top: 50px;
  font-size: 1.8em;
}

#history{
  text-align: center;
  margin: 0 3%;
}

table{
  background-color: white;
}

table thead{
  background-color: rgb(34, 49, 52);
  color: white;
}

table tbody tr:hover{
  transition: all 0.5s;
  background-color: #f5f5f5;
}

#about{
  padding: 100px 0 100px 0;
  text-align: center;
}

#about p{
  font-size: 120%;
  text-align: justify;
  padding: 30px;    
}

footer {
	padding: 10px;
	color: white;
  background-color: rgba(34, 49, 52);
	text-align: center;
	font-weight: bold;
}

.header-right .icon {
  display: none;
}
  
@media screen and (max-width: 850px) {
  #about p {
    font-size: 100%;
  }   
}