@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: Quicksand, Sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;top: 0;
    /* Ubah z-index ke 10 */
    z-index: 10
}

.logo {
    width: 45px;
    height: 55px;
    margin-top: 5px;
}

.textlogo {
    width: 90px;
    height: 90px;
}

.container {
    /* width: 1170px; */
    padding: 0 15px;
    margin: 0 auto;
}

.header-left {
    float: left;
    display: flex;
}

.header-right {
    float: right;
    /* background-color: rgba(255, 255, 255, 0.3); */
    transition: all 0.5s;
}

.header-right a:hover {
    font-weight: bolder;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
  
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    /* display: block; */
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://img.freepik.com/free-vector/money-pattern-background-wallpaper-vector-finance-illustration_53876-140179.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper p{
    font-weight: bold;
}

label{
    font-weight: bold;
}

input, select{
    padding: 5px;
    border: 2px solid rgba(34, 49, 52, 0.9);
    border-radius: 4px;
}

input[type=button]{
    color: white;
    background-color: rgba(34, 49, 52, 0.9);
}

input[type=button]:hover{
    background-color: rgba(75, 86, 102, 0.9);
}

.table{
    padding: 50px 0 50px 0;
}

table{
    word-wrap: break-word;
    max-width: 500px;
    border-collapse: collapse;
    background-color: white;
}

table th{
    background-color: rgba(34, 49, 52, 0.9);
    color: white;
}

table tr:hover{
    background-color: #f5f5f5;
}

#about{
    padding: 100px 0 100px 0;
    text-align: center;
}

#about p{
    text-align: justify;
    padding: 30px;    
}

footer {
	padding: 10px;
	color: white;
    background-color: rgba(34, 49, 52, 0.9);
	text-align: center;
	font-weight: bold;
}
/* #grad {
    background-color: linear-gradient(to right, red, yellow);
} */
/* .wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
} */

/* .logo a{
    font-size : 50px;
    font-weight : bold;
    float : left;
    font-family : 'Times New Roman';
    color:cornflowerblue;
} */

/* .menu{
    float : right;
}

.wrapper {
    background-color: skyblue;
}

.wrapper ul{
    list-style-type: none;
    margin: 0;
    padding : 0;
    overflow: hidden;
}
.wrapper ul li{
        display: block;
        font-size: 1.5rem;
        list-style-type:none ;
        padding: 1em;
        float : left;
}
.wrapper ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
.wrapper ul li a:hover{
    text-decoration: underline;
} */